.course_card {
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #eee;
    transition: all 0.3s linear;
    margin-bottom: 25px;

    &:hover {
        border-color: var(--primary);
    }


    .course_image {
        position: relative;
        height: 240px;
        overflow: hidden;

        .course_category {
            position: absolute;
            top: 15px;
            inset-inline-start: 15px;
            z-index: 2;
            padding: 7px 12px;
            border-radius: 50px;
            background-color: #fff;
            font-size: 11px;
            font-weight: 500;
        }

        .favorite_btn {
            position: absolute;
            top: 15px;
            inset-inline-end: 15px;
            z-index: 2;

            width: 38px;
            height: 38px;

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;

            border: 0;
            border-radius: 50%;

            background-color: #fff;
            color: var(--primary);

            cursor: pointer;

            transition: all 0.3s linear;

            i {
                font-size: 16px;
            }

            &:hover,
            &.active {
                background-color: var(--primary);
                color: #fff;
            }
        }
    }


    .course_content {
        padding: 25px;

        .course_modules {
            display: flex;
            align-items: center;
            gap: 7px;

            margin-bottom: 12px;

            color:  var(--primary);

        }

        h3 {
            color: #222;
            line-height: 1.3;
            font-weight: bold;
        }

        > p {
            color: #888;
            line-height: 1.6;
        }
    }


    .course_meta {
        display: flex;
        align-items: center;
        gap: 20px;

        padding-top: 15px;

        border-top: 1px solid #eee;

        color: #777;

        font-size: 13px;

        span {
            display: inline-flex;
            align-items: center;
            gap: 6px;

            b {
                color: #333 ;
            }
            i {
                color: var(--primary);
            }
        }
    }
}


@media screen and (max-width: 991px) {

    .course_card {

        .course_image {
            height: 220px;
        }

        .course_content {
            padding: 20px;
        }
    }

}


@media screen and (max-width: 575px) {

    .course_card {

        .course_image {
            height: 200px;
        }

        .course_content {
            padding: 18px;
        }

        .course_meta {
            gap: 12px;
            flex-wrap: wrap;
        }
    }

}